.lightblue {
    background-color: #add8e6;
}

.lightgreen {
    background-color: #90ee90;
}

.lightgoldenrodyellow {
    background-color: #fafad2;
}

.lightpink {
    background-color: #ffb6c1;
}

.lightcyan {
    background-color: #e0ffff;
}

.white {
    background-color: #ffffff;
}